/* Tipografía general para el sitio web */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, p {
    color: #333;
    text-align: center;
}

/* Estilos para los formularios y contenedores */
#jugadores-container {
    margin: 20px 0;
    width: 80%;
    max-width: 600px;
}

form {
    margin: 10px 0;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para los campos de entrada */
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Agrupar y decoración agregar y eliminar jugadores */
.jugadores-section {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    background-color: #f0f0f0;
    max-width: 600px;
    width: 100%;
}

/* Estilos para los botones */
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 50px; /* Bordes 100% redondos */
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para la lista de totales acumulados */
#lista-totales {
    list-style-type: none;
    padding: 0;
    width: 80%;
    max-width: 600px;
}

#lista-totales li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#ganador-actual {
    color: #007BFF;
    margin-top: 20px;
    text-align: center;
}

/* Estilos para ocultar las instrucciones */
.oculto {
    display: none;
}

/* Media Queries para Responsividad */
@media (max-width: 600px) {
    body {
        padding: 10px 20px; /* Agregar margen lateral para pantallas pequeñas */
    }

    #jugadores-container, form, #lista-totales {
        width: 100%;
    }

    button {
        width: 100%;
    }

    input[type="text"], input[type="number"] {
        width: 100%;
    }
}
/* Estilos para el contenedor de mensajes */
#mensaje {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

#mensaje.info {
    background-color: #e7f3fe;
    color: #31708f;
    border: 1px solid #bce8f1;
}

#mensaje.success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

#mensaje.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}
